.contacto {
  background-color: #0166af;
  color: white;
  border-radius: 3px;
  min-width: 240px;
  width: 260px;
  max-width: 300px;
  min-height: 100px;
  height: auto;
  display: flex;
  transition: ease-in 500ms;
}
.contacto:hover {
  box-shadow: inset 0px 0px 3px 1px #00000085;
  cursor: pointer;
}

.informacion {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px;
}
.iconEdit {
  width: 25px;
  height: 25px;
  color: white;
  margin: 20px;
}

.Iconos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.ContainerContactos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, 160px);
  margin-top: 90px;
}

.linkcontactoperfil {
  text-decoration: none;
  color: white;
  display: flex;
}
.linkcontactoperfil:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 750px) {
  .ContainerContactos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
  }
  .contacto {
    display: flex;
    min-width: 180px;
    max-width: 180px;
    flex-direction: row;
  }
  .informacion {
    margin: 5px;
    max-width: 60%;
  }
}
@media (min-width: 1100px) {
  .ContainerContactos {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}
