.contacto {
  background-color: #012826;
  color: white;
  min-width: 240px;
  width: 260px;
  max-width: 300px;
  min-height: 100px;
  height: auto;
  display: flex;
  transition: ease-in 150ms;
}

.contacto:hover {
  box-shadow: 0px 0px 3px 1px #597a55;
}

.informacion {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px;
  text-decoration: none;
  color: #ffe8d7;
}

.informacion:hover {
  color: white;
}
.iconEdit {
  width: 25px;
  height: 25px;
  color: #ffe8d7;
  margin: 5px;
}

.Ambosdivicons {
  display: flex;
  align-content: space-between;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.Iconos {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  margin: 3px;
}

.ContainerContactos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, 160px);
  margin-top: -30px;
}

.linkcontactoperfil {
  text-decoration: none;
  color: white;
  display: flex;
}
.linkcontactoperfil:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 750px) {
  .ContainerContactos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
  }
  .contacto {
    display: flex;
    min-width: 180px;
    max-width: 180px;
    flex-direction: row;
  }
  .informacion {
    margin: 5px;
    max-width: 60%;
  }
}
@media (min-width: 1100px) {
  .ContainerContactos {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

.botonicon {
  background: none;
  border: none;
  border-radius: 2px;
  transition: ease-in 200ms;
}

.botonicon:hover {
  background: #0d5854;
  border: 1px solid #ffffff30;
}

.mensajeeliminado {
  background: #198754;
  height: 40px;
  color: white;
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0;
  margin-top: -45px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.iconEditdelete {
  margin-left: 10px;
}
.iconEditdelete:hover {
  color: rgb(0, 61, 25);
  cursor: pointer;
}

.textoeliminado {
  margin-bottom: 0px;
}

a {
  color: #012826;
  text-decoration: none;
}
a:hover {
  color: #012826;
}

.icons1 {
  display: flex;
  justify-content: flex-end;
  padding: 0px 3px 3px 0px;
  align-items: flex-end;
  color: #ffe8d7;
}
