.bodyformedit {
  height: 100vh;
  background-color: #ffe8d7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: -80px;
}

.containerformedit {
  margin: 0;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  height: 400px;
  width: 500px;
  background-color: #012826;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease-in 500ms;
}

.h2 {
  color: #ffe8d7;
}

.btn-update {
  background-color: rgb(255 124 0);
}
.btn-update:hover {
  background-color: rgb(255, 106, 0);
  cursor: pointer;
}

.izquierda {
  background-color: #ffe8d7;
}

.tarjetacontacto {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  min-height: 150px;
  height: auto;
  background: #012826;
  color: #ffe8d7;
}

.informacionedit {
  color: #ffe8d7;
  padding: 10px 0px 0px 10px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px 10px 0px;
  align-items: flex-end;
}

.derecha {
  margin-left: -200px;
  background-color: #ffe8d7;
}
