* {
  margin: 0;
  padding: 0;
}

.listadecontactos {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  height: 100vh;
  justify-items: center;
  background-color: #ffe8d7;
}

.tituloh1 {
  text-align: center;
  padding: 0;
}
